<h1 class="workoutmargin">Workout List</h1>

<ul class="wrapper">
    <div class="child"><% @workouts.each do |workout| %></div>
    <div class="child"><%= link_to workout.name, "/workouts/#{workout.id}" %></div>
</div>
      
<% end %>
